{% extends 'berlin.lod.basetheme/base.html.jinja' %}
{% import 'berlin.lod.vocabtheme/voc_helper.html.jinja' as voc_helper with context %}

{% set type_icon = type_icon | default('diagram-3') %} 

{% block breadcrumbs %}
  <div class="row breadcrumbs">
    <div class="col-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% if resource_prefix != node.toPython() %}
              <li class="breadcrumb-item">
                  <a href="{{ resource_prefix | relative_uri }}">
                  {{ dataset_breadcrumb }}
                  </a>
              </li>
            {% endif %}
            <li class="breadcrumb-item">
                {{ title }}
            </li>
          </ol>
      </nav>
    </div>
  </div>
{% endblock breadcrumbs %}

{% block info_table_content %}
  {{ super() }}

  {% set date_created = node | rdf_property_any(DCT.created) %}
  {% if date_created %}
    <tr>
      <td>zuerst erstellt am:</td>
      <td>{{ date_created }}</td>
    </tr>
  {% endif %}

  {% set date_modified = node | rdf_property_any(DCT.modified) %}
  {% if date_modified %}
    <tr>
      <td>zuletzt geändert am:</td>
      <td>{{ date_modified }}</td>
    </tr>
  {% endif %}

  {% set publishers = node | rdf_property(DCT.publisher) %}
  {% for publisher in publishers | sort %}
    <tr>
      <td>Veröffentlichende Stelle:</td>
      <td>
        <a href="{{ publisher }}">
          {% set publisher_local_name = helper.prefix_label(publisher) %}
          {{ publisher | title_any(['de', 'en'], publisher_local_name) }}
        </a>
      </td>
    </tr>
  {% endfor %}

  {% set homepage = node | rdf_property_any(FOAF.homepage) %}
  {% if homepage %}
    <tr>
      <td>Homepage:</td>
      <td>
        <a href="{{ homepage }}">
          {{ homepage }}
        </a>
      </td>
    </tr>
  {% endif %}

  {% set versions = node | rdf_property(DCT.hasVersion) %}
  {% for version in versions | sort %}
    <tr>
      <td>Andere Version:</td>
      <td>{{ helper.prefix_link(version) }}</td>
    </tr>
  {% endfor %}

  {% set data_dumps = node| rdf_property(VOID.dataDump) %}
  {% for data_dump in data_dumps %}
    <tr>
      <td>Datensatz-Download:</td>
      <td>
        <a href="{{ data_dump }}">{{ data_dump }}</a>
      </td>
    </tr>
  {% endfor %}

  {% set licenses = node | rdf_property(DCT.license) %}
  {% for license in licenses %}
    <tr>
      <td>Lizenz:</td>
      <td>
        <a href="{{ license }}">{{ license }}</a>
      </td>
    </tr>
  {% endfor %}
{% endblock info_table_content %}


{% block content%}

  {{ super() }}

  <div class="row">
    {% block term_lists %}

      {% block class_list %}
        {% set classes_query = '''
          SELECT ?class
          WHERE {
            ?class rdfs:isDefinedBy ?resource_uri .
            { ?class a owl:Class . } UNION
            { ?class a rdfs:Class . }
          } ORDER BY ?class
        '''%}

        {% set results = node | sparql_query(classes_query) %}
        {% if results %}
            <div class="col-lg-4">
              {{ voc_helper.term_list(results, title="Klassen", description="Welche Klassen werden in diesem Vokabular definiert?", term_var='class', title_languages=['de'])}}
            </div>
        {% endif %}
      {% endblock class_list%}

      {% block property_list %}
        {% set properties_query = '''
          SELECT ?property
          WHERE {
              ?property rdfs:isDefinedBy ?resource_uri .
              { ?property a rdf:Property . } UNION
              { ?property a owl:ObjectProperty . } UNION
              { ?property a owl:AnnotationProperty . } UNION
              { ?property a owl:DatatypeProperty . }
          } ORDER BY ?property
        '''
        %}
        {% set results = node | sparql_query(properties_query) %}
        {% if results %}
            <div class="col-lg-4">
              {{ voc_helper.term_list(results, title="Properties", description="Welche Properties werden in diesem Vokabular definiert?", term_var='property', title_languages=['de'])}}
            </div>
        {% endif %}
      {% endblock property_list %}

      {% block other_list %}
        {% set other_query = '''
          SELECT ?term ?type
          WHERE {
            ?term 
              a ?type ;
              rdfs:isDefinedBy ?resource_uri .
            # the filtering will not work if a term has multiple types,
            # one of which is not in the list of filtered types
            FILTER(!sameTerm(?type, owl:Class))
            FILTER(!sameTerm(?type, rdfs:Class))
            FILTER(!sameTerm(?type, rdf:Property))
            FILTER(!sameTerm(?type, owl:ObjectProperty))
            FILTER(!sameTerm(?type, owl:DatatypeProperty))
            FILTER(!sameTerm(?type, owl:AnnotationProperty))
          } ORDER BY ?type ?term
        '''
        %}
        {% set results = node | sparql_query(other_query) %}
        {% if results %}
            <div class="col-lg-4">
              {{ voc_helper.term_list(results, title="Andere", title_properties=[SCHEMA.name, SCHEMA.description], title_languages=['de'])}}
            </div>
        {% endif %}
      {% endblock other_list %}

    {% endblock term_lists %}
  </div>


{% endblock content %}

